@import 'tailwindcss';
@import '../metronic/vendors/keenicons/duotone/style.css';
@import '../metronic/vendors/keenicons/filled/style.css';
@import '../metronic/vendors/keenicons/outline/style.css';
@import '../metronic/vendors/keenicons/solid/style.css';
@import '../metronic/css/config.ktui.css';
@import '../../node_modules/@keenthemes/ktui/styles.css';
@import '../metronic/css/components/apexcharts.css';
@import '../metronic/css/components/container.css';
@import '../metronic/css/components/leaflet.css';
@import '../metronic/css/components/menu.css';
@import '../metronic/css/components/range.css';
@import '../metronic/css/components/rating.css';
@import '../metronic/css/components/scrollable.css';
@import '../metronic/css/demos/demo1.css';

.swal2-popup {
  background-color: #1f2937 !important;
  color: #ffffff !important;
  border-radius: 0.5rem;
}

.swal2-title {
  color: #ffffff !important;
}

.swal2-icon {
  color: #ffffff !important;
  border-color: #ffffff !important;
}

.swal2-toast {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.6) !important;
}

.swal2-confirm {
  background-color: #2563eb !important;
  color: #ffffff !important;
}

.swal2-cancel {
  background-color: #ef4444 !important;
  color: #ffffff !important;
}
